body, html {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    width: 100%;
    margin: 0 auto;
    background: #FCE4FA;
    border-radius: 8px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 60px;
}

p {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0;
    font-size: 40px;
    color: #771051;
    font-weight: bold;
}

.form-group {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.form-group label {
    flex: 0 0 120px;
    font-size: 16px;
    text-align: right;
    margin-right: 20px;
    font-weight: bold;
}

.form-group input, .form-group textarea {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    margin-bottom: 10px;
}

.form-group input:focus, .form-group textarea:focus {
    border-color: #BD21AF;
}

.form-group textarea {
    resize: none;
    height: 60px;
}

.form-group.image {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.form-group img {
    width: 100%;
    max-width: 87%;
    height: auto;
    border-radius: 5px;
}

.input-row {
    display: flex;
    align-items: center;
}

.input-row label {
    flex: 0 0 120px;
    font-size: 16px;
    text-align: right;
    margin-right: 20px;
    font-weight: bold;
}

.input-row input {
    flex: 0 0 45%;
    max-width: 45%;
    margin-left: auto;
    margin-right: auto;
    flex: 1;
}

.input-right {
    margin-left: auto;
}